<div class="col-md-3">
  <div class="users_info">
    <h2>User info</h2>
    <div class="users_image"><%= attachment_image_tag user, :profile_image, :fill, 90, 90, fallback: "no_image.jpg" %></div>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Introduction</th>
      </tr>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
    </table>
    <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>

  <div class="new_book">
    <h2>New book</h2>
    <%= form_with model: book, local:true do |f| %>
      <a>Title</a>
      <%= f.text_field :title, class: 'form-control' %>
      <a>Opinion</a>
      <%= f.text_area :body, class: 'form-control' %></br>
      <%= f.submit 'Create Book', class: "btn btn-success" %>
    <% end %>
  </div>
</div>