<% if @user.errors.any? %>
  <p class="h3 text-danger">
    <%= @user.errors.count %>error prohibited this obj from being saved:
  </p>
  <% @user.errors.full_messages.each do |message| %>
  <p class="text-danger">
    <%= message %>
  </p>
  <% end %>
<% end %>


<h1>Users Info</h1>

<%= form_with model: @user, local:true do |f| %>
  <h4>name</h4>
  <%= f.text_field :name %>

  <h4>Image</h4>
  <%= f.attachment_field :profile_image %>

  <h4>Introduction</h4>
  <%= f.text_area :introduction %>
  <%= f.submit 'Update User' %>
<% end %>