<!DOCTYPE html>

<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div class="navbar-brand">
            <div class="col-1 h5 text-left px-1 py-2">
              <%= link_to "Bookers", root_path , class: "text-white" %>
            </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="menu">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                <div class="menu_tag">
                  <li>
                    <%= link_to user_path(current_user.id), class: "text-white font-weight-bold" do %>
                      <i class="fas fa-home text-white"> Home</i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to users_path, class: "text-white font-weight-bold" do %>
                      <i class="fas fa-users text-white"> Users</i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to books_path, class: "text-white font-weight-bold" do %>
                      <i class="fas fa-book-open text-white"> Books</i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete, class: "text-white font-weight-bold" do %>
                      <i class="fas fa-sign-out-alt text-white"> logout</i>
                    <% end %>
                  </li>

                <% else %>
                  <li>
                    <%= link_to root_path, class: "text-white font-weight-bold" do %>
                      <i class="fas fa-home text-white"> Home</i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to home_about_path, class: "text-white font-weight-bold" do %>
                      <i class="fas fa-link text-white"> About</i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_user_registration_path, class: "text-white font-weight-bold" do %>
                      <i class="fas fa-user-plus text-white"> sign up</i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_user_session_path, class: "text-white font-weight-bold" do %>
                      <i class="fas fa-sign-in-alt text-white"> login</i>
                    <% end %>
                  </li>
                </div>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <% if flash[:notice] %>
      <p class="text-success"><%= flash[:notice] %></p>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <%= 'CopyRight Infratop.inc'%>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
